.jumbotron {
    background-image:  url("../images/banner.png");
    color: rgb(189, 189, 189);
}

body {
    background-image: url("../images/background.jpg");
    font-family: fantasy;
    text-align: center;
}
