.jumbotron {
    background-image:  url("../images/banner.jpg");
    background-size: 754px 327px;
    text-align: center;
}

body {
    background-image: url("../images/background.jpg");
    font-family: fantasy;
    text-align: center;
}
